# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local
*.DS_Store

# Coverage
/coverage

# Environment variables
.env

# IDEs
.cursor
.vscode

# Firebase
firebase-debug.log
firebase-debug.*.log

# Local
.local

# Logs
logs/
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*